{include file="common/header" /}

<!--顶部通栏-->


<div class="position">
    {if condition="isset($keywords)"}
    关键字 > <spn>{$keywords}</spn>
    {else /}
    <a href='{:url("Index/index")}'>主页</a>
    >
    <a href=''>{$cate.catename}</a>
    >
    {/if}
</div>

<div class="overall">

    <div class="left">
        {foreach $articleD as $v}
        <div class="xnews2">
            <div class="pic">
                <a target="_blank" href="{:url('Article/index',['id'=>$v.id])}">
                    <img src="{$v.pic}" width="230" height="230" alt="{$v.title}"/>
                </a>
            </div>
            <div class="dec">
                <h3><a target="_blank" href="{:url('Article/index',['id'=>$v.id])}">{$v.title}</a></h3>
                <div class="time">发布时间：{$v.time|date="Y-m-d H:i:s",###}</div>
                <p>{$v.desc}</p>
                <?php
                    $keywords=$v['keywords'];
                    $keywords=explode(' ',$keywords);
                ?>
                <!--//标签-->
                <div class="time">
                    {foreach $keywords as $val}
                    <a href="{:url('Lists/index',['keywords'=>$val])}">{$val}</a>
                    {/foreach}
                </div>

            </div>
        </div>
        {/foreach}
        <div class="pages">
            <div class="plist">
                {$articleD->render()}
            </div>
        </div>
    </div>

    {include file="common/right" /}

</div>
<div class="footerd">
    <ul>
        <li>Copyright &#169; 2008-2016 all rights reserved 版权所有 <a href="http://www.miibeian.gov.cn" target="_blank"
                                                                   rel="nofollow">蜀icp备08107937号</a></li>
    </ul>
</div>

<div style="display:none;">
    <script src='goto/my-65537.js' language='javascript'></script>
    <script src="images/js/count_zixun.js" language="JavaScript"></script>
</div>

</body>
</html>